p{
	margin: 0px;
}
.queryAssistance{
	/*border: solid black 1px;*/
	
}
.B{
	text-align: center;
}
.C{
	width: 100%;
	height: 100%;
}
.widget{
	margin-bottom: 30px;
}
.searchResult{
	width: 60%;
	float: left;
}
.bookDetail{
	height: 200px;
}
.bookDetailLabel{
	width: 100px;	
	vertical-align: top;
}
.bookDetailContent{
	width: 160px;
}
.bookImg{
	float: left;
	margin-right: 20px;
}

.dividePage{
	margin: 0px;
	width: 100%;
	height: 100%;
}
.right{
	float: right;
}

/*==========搜索界面============*/
.ratingScore{
	font-size: 12px;
}
.book{
	/*border-bottom: solid 1px black;*/
	padding-bottom: 10px;
	margin-bottom: 5%;
	margin-top: 5%;
}

/*============登录界面与logo处CSS===============*/
.searchBar{
	text-align: center;
}
#searchInput{
	width: 40%;
}
.topy{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 12px;
}
.bookDetailTable{
	/*width: 100%;
	height: 100%;*/
}
.setup{
	list-style:none;
	position: absolute;
	top: 20px;
	right: 10px;
	display: none;
}
.setup li{
	height: 20px;
	width: 90px;
	color: black;
	background: white;
	font-size: 13px;
	border-bottom: 1px #DDD double;
	z-index: 301;
}
.setup li:hover{
	height: 20px;
	width: 90px;
	color: black;
	background:lightgray;
	font-size: 13px;
	border-bottom: 1px #DDD double;
	z-index: 301;
	cursor:pointer;
}

/*===============书籍详情页面===========*/
.baseInformation{
	width: 100%;
	height: 100%;
    display: block;
    margin-bottom: 60px;
    padding: 10px;
}
/*书籍详情页面的主要内容的CSS*/
.mainContent{
	margin-bottom: 20px;
}
.bookDetailImg{
	width: 150px;
	height: 200px;
}
.bookBaseInformation{
	/*width: 100%;*/
	/*height: 100%;*/
	font-size: 18px;
}
.rating{
	position: absolute;
	top:10px;
	right: 0px;
	width: 2２0px;
	height: 100px;
}
.bookContent{
	margin-top: 20px;
}
.bookCatalogue{
	margin-top: 20px;
}
.bookLabel{
	color: green;
	font-size: 20px;
}
span.cleaned{
	margin-left: 15px;
	margin-right: 15px;
}

.shortintro{
	display: inline;
}
.longintro{
	display: none;
}
.longCatalog{
	display: none;
}
a.watchMore:hover{
	background: deepskyblue;
}
.wordCloud{
	display: none;
}
.bookRecommand{
	width: 180px;
	height: 180px;
	display: inline-block;
}
.wordWithImg{
	display: inline-block;
	width: 150px;
	height: 180px;
}
.str{
	width: 150px;
	display: inline-block;
	text-align: center;
}

/*===================设置特别关注================*/
.specialAttention{
	border: 1px gray solid;
	margin: 10px;
	margin-top: 10px;
	margin-bottom: 30px;
}
span.specialLabel{
	color: red;
	background: gainsboro;
}
.margintop{
	margin-bottom: 150px;
}

/*======================登录界面==================*/
.loginGraphic{
	background: whitesmoke;

}
.loginContent{
	width: 300px;
}
