<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>登录界面</title>
	<link rel="stylesheet" href="{% static 'bookRecommand/css/style_11_common.css' %}" />
	<link rel="stylesheet" href="{% static 'bookRecommand/css/style_11_widthauto.css' %}" />
	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icon font -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Custom styles -->
	<link rel="stylesheet" href="{% static 'bookRecommand/css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'bookRecommand/css/bookSystem.css' %}" />
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
	<style>
		.background{
			background: url({% static 'bookRecommand/images/bookImage.jpg' %});
			background-position: 50% 70%;
		}
	</style>
</head>
<body>
<div class="mn" id="main_message">
	<div class="bm">
		<!-- 登录提示信息 -->
		<div class="bm_h bbs" style="height: 40px;">
			<h3 class="xs2">登录</h3>
		</div>

		<div class="background">
			<div id="main_messaqge_LHo41">
				<div id="layer_login_LHo41">
					<!-- 留白 -->
					<h3 class="flb">
						<em id="returnmessage_LHo41"> </em> <span></span>
					</h3>

					<!-- 登录post -->
					<form method="post" name="login" id="loginform_LHo41" class="cl" action="checkLogin.bin">
                        {% csrf_token %}
						<div class="c cl">
							<!-- 邮箱 -->
							<div class="rfm">
								<table>
									<tbody>
										<tr>
											<th><label>邮箱:</label></th>
											<td><input type="password"
												name="password" onfocus="" size="30"
												class="px p_fre" tabindex="1"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- 验证码 -->
							<span id="seccode_cSb3tr3t">
								<div class="rfm">
										<table>
											<tbody>
												<tr>
													<th>邮箱验证码:</th>
													<td>
														<input name="seccodeverify" id="seccodeverify_cSb3tr3t" type="text"
															style="ime-mode: disabled; width: 100px" class="txt px vm"
															onblur="#">
															<a href="#" onclick="$(graphhashcode).attr('src',$(graphhashcode).attr('src')+'?'+Math.random());" class="xi2">发送邮箱验证码</a>
															<span id="checkseccodeverify_cSb3tr3t">
														</span>
													</td>
												</tr>
											</tbody>
										</table>
								</div>
							</span>
							<!-- 登录按钮 -->
							<div class="rfm mbw bw0">
								<table width="100%">
									<tbody>
										<tr>
											<th>&nbsp;</th>
											<td>
												<button class="pn pnc" type="submit" name="loginsubmit"
													value="true" tabindex="1">
													<strong>登录</strong>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
